@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Noto+Sans+KR:wght@500&family=Noto+Serif+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Noto+Sans+KR:wght@500&family=Noto+Serif+KR&display=swap");

hr {
  margin: 0 auto;
}

.previewContainer {
  width: 54.3125rem;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 5rem;
  font-family: "DM Sans", "Noto Sans KR", sans-serif;
}

.cHead {
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;

  margin-bottom: 2rem;
}

.bar {
  display: flex;
  justify-content: space-between;
  height: 3rem;
}

.cType {
  display: flex;
}

.selectedBtn {
  background-color: #e4eee3;
  color: #31892f;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;

  width: 4.258rem;

  padding: 0 1rem;
  text-decoration: none;
  border-bottom: 0.1875rem solid #31892f;
}

.Btn {
  color: #000;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;

  width: 4.258rem;

  padding: 0 1rem;
  text-decoration: none;
}

.resultNum {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.5rem; /* 150% */
}

.cWriteBtn {
  width: 5.5625rem;
  height: 2.625rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: #31892f;

  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}

/* PrevArt */
.cArticle {
  display: flex;
  width: 54.3125rem;
  height: 3rem;
  flex-shrink: 0;

  position: relative;
}

.cTitle {
  color: #000;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;

  position: absolute;
  left: 1.61rem;
  top: 0.75rem;
}

.cLikes {
  position: absolute;
  left: 36rem;
  display: flex;
}

.cLikeIcon {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;

  position: relative;
  top: 0.75rem;
}

.cLikeIconNone {
  display: none;
}

.cLikeNum {
  color: #cc4e4f;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}

.cLikeNumNone {
  display: none;
}

.cDate {
  color: #8a8a8a;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;

  position: absolute;
  left: 46.69rem;
}

.cTitleHref {
  color: #000;
}

.cTitleHref:link {
  text-decoration: none;
}

.cTitleHref:visited {
  text-decoration: none;
}

.cTitleHref:hover {
  text-decoration: underline;
}

.cTitleHref:active {
  text-decoration: underline;
}

.previewBottom {
  width: 54.25rem;
  height: 4.5rem;
  flex-shrink: 0;
  background: #f4f4f4;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);

  text-align: center;

  margin-top: 1rem;
}

.moreResult {
  color: #000;
  font-family: DM Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.5rem;

  text-decoration: none;
}
