.nav-container{
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.navitems-container{
    display: flex;
    justify-content: space-between;
}

.navmenus-list{
    padding: 1rem;
}

.navuser-container{
    display: flex;
    justify-content: space-between;
}

.navuser-list{
    padding: 1rem;
}